# IntelliJ project files
.idea
releases/darwin/*
!releases/darwin/index.html
releases/win32/ia32/*
releases/win32/x64/*
!releases/win32/ia32/index.html
!releases/win32/x64/index.html
dumps/*
node_modules
.DS_Store